.app-title {
    text-align: center;
    color: #FF7474;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.greeting {
    position: relative;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    left: 30%;
    top: 100px;
}